body{
	font-family: arial;
	font-weight: bold;
}
h1{
	background: #8bc34a;
	color: white;
	text-align: center;
}
.abuelo{
	background: #009688;
	padding: 30px;
}
.padre{
	background: #00bcd4;
}
.yo{
	opacity: 0.7;
	background: #ffc107;
}

/*
 === Tipos de posicionanamiento en CSS ===
*/

/*
Estos son los cuatro valores pricipales que utlizaras con la propiedad, position:;
	--STATIC--
	--RELATIVE--
	--ABSOLUTE--
	--FIXED--

Ejemplo:
	position: static;
	position: relative;
	position: absolute;
	position: fixed;
	
*/
/*
	=== Propiedades de direccion ===
Es importante conocer las propiedades de direccion por que van muy de la mano con la propiedad
de position.
	--TOP--
	--LEFT--
	--RIGHT--
	--BOTTOM--	
Y estas propiedades le indican al elemento a donde se debe de mover.
Ejemplo:
	
	top: 20px; <--- le estoy indicando a mi elemento que se mueva 20 pixeles de la parte de arriba
NOTA: Estas propiedades funcionaran con todas menos con el valor static.
*/
/* -------------------------------------------------------
Veamos el caso de:
	position: static;

En este valor de posicionamiento realmente no pasa nada simplemente le estas diciendo a tu
elemento que se mantenga en una posicion estatica y encontraras este tipo de posicionamniento
por default, asi que no es necesario poner este valor.
*/
#abuelostatic{
	background: #009688;
	padding: 30px;
	position: static;
}
#padrestatic{
	background: #00bcd4;
	position: static;
}
#yostatic{
	opacity: 0.7;
	background: #ffc107;
	position: static;
}

/* -------------------------------------------------------
Veamos el caso de:
	position: relative;

En este valor de posicionamiento el elemento esta posicionado relativamente en su posicion normal
y cualquier contenido no sera ajustado para caber en el hueco que deja este elemento.
*/

#abuelorelative{
	background: #009688;
	padding: 30px;
}
#padrerelative{
	background: #00bcd4;
}
#yorelative{
	opacity: 0.7;
	background: #ffc107;
	position: relative;
	top: 40px;
	right: 60px;
}
/* -------------------------------------------------------
Veamos el caso de:
	position: absolute;

En este valor de posicionamiento el elemento esta posicionado relativamente al ancestro posicionado
mas cercano. Sin embargo, si un ningun ancestro esta posicionado este tomara el <body> del documento
y se movera con el SCROLL de la pagina.
NOTA: Un "ancestro posicionado" es un elemento que tiene la propiedad "position:;" excepto "static".
*/
#abueloabsolute{
	background: #009688;
	padding: 30px;
}
#padreabsolute{
	background: #00bcd4;
}
#yoabsolute{
	opacity: 0.7;
	background: #ffc107;
	position: absolute;
	right: 30px;
}
/* -------------------------------------------------------
veamos el caso de:
	position: fixed;

En este valor de posicionamiento el elemento esta posicionado relativamente al viewport,
Esto quiere decir que siempre se mantendra en el mismo lugar, no importa si hacen SCROLL en la pantalla
puedes utilizar las propiedades de direccion. Este tipo de elemento no dejara un hueco en el lugar
que se posiciono por default.
*/
#abuelofixed{
	background: #009688;
	padding: 30px;
}
#padrefixed{
	background: #00bcd4;
}
#yofixed{
	opacity: 0.7;
	background: #ffc107;
	position: fixed;
	right: 30px;
	top: 600px;
	z-index: 1;
}




